@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --backgroundcolor-primair: rgb(33, 112, 33);
  --backgroundcolor-secundair: rgb(117, 226, 117);
  --font-family: 'Poppins', sans-serif;
}

*,*::before,*::after {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

/* Header */

header {
  width: 100%;
  box-shadow: 1px 1px 20px 1px var(--backgroundcolor-primair);
}

footer {
  box-shadow: 1px 1px 20px 1px var(--backgroundcolor-primair);
  position: fixed;
  bottom: 0;
}

html {
  background: linear-gradient(to right, rgb(153, 184, 150),rgb(215, 255, 211));
}

.image-homepage {
  position: absolute;
  top: 240px;
  left: 100px;
  height: 300px;
  border: 1px black solid;
  box-shadow: 1px 1px 4px 4px;
}

.h1-homepage {
  max-width: 500px;
  font-size: 55px;
  text-align: center;
  margin: 100px 0 0 700px;
  text-shadow: 1px 2px;
}

.logo {
  z-index: 1;
  height: 80px;
  margin: 0 auto;
  display: block;
}

.navbalk {
  width: 100%;
  height: 10vh;
  background-color: var(--backgroundcolor-primair);
	text-align: center;
}

.navlinks ul {
	align-items: center;
}

.navlinks li {
  list-style: none;
}

.navlinks a {
	float: left;
  color: #fff;
  text-decoration: none;
	padding: 1em 2em 1.1em; 
	font-size: 1.2rem;
}

.testxml1 {
  padding: 1rem;
}

/* Bestellen */

.bestelforum {
  margin: 5% auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 30px;
  max-width: 400px;
  height: 200px;
  box-shadow: 1px 1px 20px 1px;
	padding: 15px;
}

.bestelwrapper {
	display: flex;
}

.bestel-h1 {
  margin: 20px;
}

#downloadtag {
  color: var(--backgroundcolor-primair);
  text-decoration: none;
}
.downloadtag {
  margin: 20px;
}

/* Login */

.login-class {
	margin: 9% auto;
	background: #2a2c32;
	width: 400px;
	border-radius: 10px;
	padding: 10px;
}

.login-form input {
	text-align: center;
	margin: 3px;
	padding: 4px;
	border-color: black;
	border-radius: 10px;
	box-shadow: 2px 2px;
	width: 300px;
}

.login-form button {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 20px;
	box-shadow: 2px 2px;
	border-color: black;
	background-color: #fff;
	padding: 5px;
	width: 200px;
}

.login-class h1 {
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	border-bottom: 1px solid silver;
	margin-bottom: 3%;
	color: #fff;
}

.login-class form {
	padding: 0 40px;
	box-sizing: border-box;
}

.welkomsbericht {
	font-size: 1.5rem;
	color: white;
	text-align: center;
	margin: 2%;
}

/* Sign Up */

.signup-class {	
	margin: 5% auto 8% auto;
	background: #2a2c32;
	width: 400px;
	border-radius: 10px;
	padding: 10px;
}

.registreererror p {
	text-align: center;
	color: white;
}

.signup-form input {
	text-align: center;
	margin: 3px;
	padding: 4px;
	border-color: black;
	border-radius: 10px;
	box-shadow: 2px 2px;
	width: 300px;
}

.signup-form button {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 20px;
	box-shadow: 2px 2px;
	border-color: black;
	background-color: #fff;
	padding: 5px;
	width: 200px;
}

.signup-class h1 {
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	border-bottom: 1px solid silver;
	color: #fff;
	margin-bottom: 3%;
}

.signup-class form {
	padding: 0 40px;
	box-sizing: border-box;
}

.overflow {
  margin: 3.5rem auto;
  height: 50vh;
  width: 40vw;
  overflow-y: scroll;
}

/* MODIFY FORM */

.modifyformproduct {
	max-width: min-content;
	height: 30vh;
	margin: 5em auto;
	text-align: center;
	border: 1px solid black;
	background-color: rgb(60, 143, 54);
	border-radius: 30px;
	padding: 2rem;
	box-shadow: 1px 1px 3px 3px;
}

.modifyformproduct h1 {
	font-size: 1.5rem;
}

.modifymargin {
	margin-top: 3rem;
}

.modifyformproduct input {
	margin: 0.3rem;
	text-align: center;
	max-width: min-content;
}

#submitbuttonmodify {
	width: 6rem;
}

.modifywrapper {
	display: flex;
}